.form-control {
    border-radius:100px;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
}

.inputWithButton {
    position: relative;
  }
  
  .inputWithButton input{
      padding-right: 60px;
  }
  
  .inputWithButton button {
    position: absolute;
    border-radius:100px;
    margin: 5px;
    right: 0;
    top : 5px;
  }