.row {
    width: 93%; 
}

.subtitle {
    float: left;
}

.data {
    align-content: left;
}

.scroll {
    height: 550px;
    overflow-y: scroll;
}

/*992-1200*/
@media screen and (max-width: 1200px) {
    .img {
        width: 37%;
    }
    
    .dataRecipe {
        margin-left: 280px;
    }

    h5.subtitle {
        font-size: 16px;
    }

    p.data {
        font-size: 14px;
    }
}

/*768-992*/
@media screen and (max-width: 992px) {
    .img {
        display: flex;
        align-content: center ;
    }      
}

/*576-768*/
@media screen and (max-width: 768px) {

}

/*0-576*/
@media screen and (max-width: 576px) {
}