#your_img {
    width: 400px;
    height: 350px;
    object-fit: cover;
    border-radius: 4px;
}

#cross_img {
    position: absolute;
    margin-left: 370px;
    margin-top: 5px;
}

#choose_img {
    width: 400px;
    height: 350px;
}

#button_img {
    border: none;
    background: #fff;
}

.icon_drop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
}

#photo {
    display: none;
}