.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 7%;
    left: 0;
    transform: translateX(-116%);
    transition: all 0.2s;
}

.menu.active {
    transform: translateX(0);
}


.blur {
    position: fixed;
    left: 16%; right: -16%; top: -10%; bottom: 0;
    backdrop-filter: blur(5px);
    -webkit-filter: blur(3px);
    filter: blur(5px);
}

.content {
    width: 16%;
    height: 100%;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}

.designation {
    padding-left: 0;
}

.designation_list {
    display: flex;
    margin: 10px 0;
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}

