.Hamburger_container {
    display: flex;
    flex-direction: column;
    width: 35px;
}


#burger {
    background-color: rgb(0, 0, 0);
    width: 32px;
    height: 1.5px;
    margin: 4px;
    border-radius: 3px;
    transition: all ease 0.5s;
}

.open:nth-child(1) {
    transform: rotate(45deg) translateY(14px);
}

.open:nth-child(2) {
    opacity: 0;
}

.open:nth-child(3) {
    transform: rotate(-45deg) translateY(-14px);
}

.close:nth-child(1) {
    transform: rotate(0) translateY(0);
}

.close:nth-child(2) {
    opacity: 1;
}

.close:nth-child(3) {
    transform: rotate(0) translateY(0);
}

