.image {
    margin-right: 0px;
    /* transform: translateY(6%); */
    width: 50%;
}

.col-5 {
    padding-left: 4%;
    padding-right: 0px;
}

.products {
    display: inline-block;
}

.product {
    float: left;
    width: 200px;
}

.quantity {    
    float: right;
    width: 70px;
}

.step{
    width: 530px;
}