.form-control-lg {
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    padding-left: 30px;
}

#name{
    width: 40%;
}

.border {
    border-radius: 4px;
}


#nameIng{
    width: 90%;
}

#text{
    width: 90%;
    height: 100px;
}

#num{
    width: 100px;
}

#units{
    height: 50px;
}